[submodule ".registry"]
	path = .registry
	url = https://github.com/strengejacke/strengejacke.r-universe.dev
	branch = HEAD
[submodule "ggeffects"]
	path = ggeffects
	url = https://github.com/strengejacke/ggeffects
